<div class="container">
  <!--
  #################################
    - THEMEPUNCH BANNER -
  #################################
  -->
  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>
        <% ssimages = SlideShowImage.where(active: true) %>
        <% ssimages.each do |ssimage| %>
          <!-- SLIDE  1-->
          <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
            <!-- MAIN IMAGE -->
            <%= image_tag(ssimage.pic_slideshow.url(:medium), data: {bgfit: "cover", bgposition: "left top", bgrepeat: "no-repeat"}) %>
            <!-- LAYERS -->
            <!-- LAYERS NR. 1 // -->
            <div class="tp-caption lfl largegreenbg br-red"
              data-x="50"
              data-y="140"
              data-speed="1500"
              data-start="1200"
              data-easing="Power4.easeOut"
              data-endspeed="300"
              data-endeasing="Linear.easeNone"
              data-captionhidden="off"><%= ssimage.title %>
            </div>	
            <!-- LAYERS NR. 2 -->
            <div class="tp-caption skewfromleft medium_text paragraph"
              data-x="50"
              data-y="240"
              data-speed="800"
              data-start="1800"
              data-easing="Power4.easeOut"
              data-endspeed="400"
              data-endeasing="Power4.easeOut"
              data-captionhidden="off"
              style="word-wrap: normal;"><%= ssimage.description %>
            </div>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" >

// SLIDER REVOLUTION Java Script
  jQuery(document).ready(function() {
    jQuery('.tp-banner').revolution(
      {
        delay:9000,
        startheight:500,
        
        hideThumbs:10,
        
        navigationType:"none",	
        
        
        hideArrowsOnMobile:"on",
        
        touchenabled:"on",
        onHoverStop:"on",
        
        navOffsetHorizontal:0,
        navOffsetVertical:20,
        
        stopAtSlide:-1,
        stopAfterLoops:-1,

        shadow:0,
        
        fullWidth:"on",
        fullScreen:"off"
        
      });
    });
  </script>